body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url(backgorund\ img.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.board {
  display: flex;
  gap: 50px;
}
.dot1 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #d9d9d9;
}
.dot2 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #a3a300;
}
.dot3 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #00a300;
}
.dot4 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #a30000;
}
.column {
  background-color: #1a1a1a;
  padding: 10px;
  width: 280px;
  border-radius: 8px;
  border: 1px solid gray;
  height: 670px;
}

.column h2 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
}

.task {
  background-color: #1a1a1a;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
.task-buttons {
  display: flex;
  gap: 5px;
}

.task-buttons button {
  background-color: #666;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.task-buttons button:hover {
  background-color: #888;
}

#add-task {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 8px;
  height: 80px;
  transition: all 0.2s;
}
#add-task:hover {
  border-radius: 25px;
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}
.modal-open {
  display: block;
}
.modal-content {
  background-color: #1e1e1e;
  margin: 15% auto;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 12px;
}
.modal-content > input {
  padding: 10px;
}
